$primary: #C6D8AF;
$primary-2: #CEDDBB;
$secondary: #f4a77d;
$secondary-2: #e27e4b;
$tertiary: #C49792;
$bg-light: #fff8ef;

// rosy brown - #C49792
// $primary: #FFE66D;
// $primary-2: #FFEE99;
// $secondary: #FF7C70;
// $secondary-2: #FFB4AD;
// $tertiary: #C4F5FC;
// $bg-light: #fff8ef;